<template>

    <li class="nav-item dropdown">
        <span id="navbarDropdownNot" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <span class="glyphicon glyphicon-globe"> </span>
            Notifications <span class="badge">{{notifications.length}}</span><span class="caret"></span>
        </span>

        <ul class="dropdown-menu" role="menu">
            <li v-for="notification in notifications" class="dropdown-item" >
                <a href="#" v-on:click="markAsRead(notification)">
                    Nowy użytkownik {{notification.data.email}}
                </a>
            </li>
            <li v-if="notifications.length == 0" class="dropdown-item" >
                Brak nowych powiadomień {{notifications}}
            </li>
        </ul>

    </li>

</template>

<script>
    export default {
        props: [
            'notifications'
        ],
        methods: {
            markAsRead: function(notification){
                var data = {
                    id: notification.id,
                };
                axios.post('/admin/notifications/read', data).then(response =>{
                window.location.href = "/admin/users/" + notification.data.user.id + "/edit";
                });

            }
        },
        mounted() {
            console.log('Component mounted.');

            var userId = $('meta[name="userId"]').attr('content');

            let channel = Echo.private('channel.admin.' + userId);
            console.log('Component listening.');

            channel.notification((notification) => {
                this.notifications.push(notification);
                //console.log(notification);
            });

        }
    }
</script>
